.esa{
  background-color: #81C441;
  background: linear-gradient(to bottom right, #81C441, #CDDF65);
}
.apasa{
  background-color: #4A51A2;
  background: linear-gradient(to bottom right, #4A51A2, #6396CF);
}
.bsa{
  background-color: #81C441;
  background: linear-gradient(to bottom right, #81C441, #C39688);
}
.aca{
  background-color: #FACCD3;
  background: linear-gradient(to bottom right, #FACCD3, #B39BC8);
}
.isa{
  background-color: #C5E3C5;
  background: linear-gradient(to bottom right, #C5E3C5, #A0C3D2);
}
.lsa{
  background-color: #F1643D;
  background: linear-gradient(to bottom right, #F1643D, #FEC864);
}
.psa{
  background-color: #BE1E2E;
  background: linear-gradient(to bottom right, #BE1E2E, #3A50A2);
}
.quasa{
  background-color: #F8E827;
  background: linear-gradient(to bottom right, #F8E827, #AD2E92);
}
.wsa{
  background-color: #A0C3D2;
  background: linear-gradient(to bottom right, #A0C3D2, #B39BC8);
}


.nightMarket{
  background-image: url(img/stock/nightMarket.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top;
  color: #FFFFFF;
  padding-bottom: 36% !important;
}
